html,
body {
  position: relative;
  height: 100%;
}
body {
  background: #eee;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}
.swiper {
  width: 95%;
  height: 90%;
  margin-top: 50px;
  margin-left: 210%;
}
.swiper-slide {
  text-align: center;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  width:92%;
  height: 23vh!important; 
  border: 1.5px solid rgb(247, 242, 242);
  margin: 5px;
  border-radius: 8px;
  background-color: rgb(59, 56, 54);
  flex-direction:row;
  gap: 13px;
  opacity: 40%;
}
.swiper-slide img {
  width:130px;
  height: 110px;
  border-radius: 10px;
  border: 2px solid rgb(247, 240, 240);
  margin-left: 10px;
}
.swiper-slide .ratings{
  width: 70px;
  height: 30px;
  border: none;
  margin-top: 2.6px;
  border-radius: 10px;
}
.swiper-slide-active{
  border: 3px solid rgb(34, 209, 69);
  margin: 8px;
  opacity: 100%;
}


