/* #app {
  height: 100%;
} */
html,
body {
  position: relative;
  height: 100%;
}
body {
  background: #eee;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}
.swiper {
  width: 70%;
  height: 94%;
  margin-top: 20px;
  margin-left:130%;
}
.swiper-slide {
  text-align: center;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 98%;
  height: 23vh!important; 
  border: 1.5px solid rgb(247, 242, 242);
  margin: 5px;
  border-radius: 8px;
  background-color: rgb(114, 109, 106);
  flex-direction:row;
  gap: 13px;
  opacity: 70%;
}
.swiper-slide img {
  width:130px;
  height: 110px;
  border-radius: 10px;
  border: 2px solid rgb(236, 236, 244);
}
.swiper-slide .ratings{
  width: 70px;
  height: 30px;
  border: none;
  margin-top: 2.6px;
  border-radius: 10px;
}
.swiper-slide-active{
  padding: 20px 10px;  
  border: 3px solid rgb(34, 209, 69);
  opacity: 100%;
}


